<head>
    <script type="text/javascript" src="{{url_for('static',filename='gatavs.js')}}"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <h2>Iesniedzēja vārds, uzvārds: {{vards}} {{uzvards}}</h2>
    <h3>Izvēlētā programma:
        {% if programma=='1'%}
            Dabaszinātnes A
        {%elif programma=='2'%}
            Dabaszinātnes B
        {%elif programma=='3'%}
            Eiropas studijas ar 3. svešvalodu
        {%else%}
            Eiropas studijas bez 3. svešvalodas
        {%endif%}
    </h3>
    <div>
        <table class="table">
            <tr>
                <th>Nosaukums</th>
                <th>10.klase</th>
                <th>11.klase</th>
                <th>12.klase</th>
            </tr>
            <tr class="font-weight-bolder">
                <td>Vispārīgā līmeņa pamatkursi</td>
            </tr>
            <tr id="rezotra1">
                <td>Vācu valoda (B1)</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
            </tr>
            <tr id="rezotra2">
                <td>Krievu valoda (B1)</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
            </tr>
            <tr id="reztresa1">
                <td>Franču valoda (B1)</td>
                <td>4</td>
                <td>3</td>
                <td>2</td>
            </tr>
            <tr id="reztresa2">
                <td>Vācu valoda (B1)</td>
                <td>4</td>
                <td>3</td>
                <td>2</td>
            </tr>
            <tr>
                <td>Kultūras pamati</td>
                <td>3</td>
                <td></td>
                <td></td>
            </tr>
            <tr id="rez17">
                <td>Dabaszinības</td>
                <td>4</td>
                <td>4</td>
                <td>1</td>
            </tr>
            <tr>
                <td>Datorika</td>
                <td>2</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Sports un veselība</td>
                <td>2</td>
                <td>3</td>
                <td>3</td>
            </tr>
            <tr class="font-weight-bolder">
                <td>Optimālā līmeņa pamatkursi</td>
            </tr>
            <tr>
                <td>Latviešu valoda I</td>
                <td>3</td>
                <td>3</td>
                <td></td>
            </tr>
            <tr>
                <td>Angļu valoda I (B2)</td>
                <td>3</td>
                <td>3</td>
                <td></td>
            </tr>
            <tr>
                <td>Vēsture un Sociālās zinātnes I</td>
                <td>3</td>
                <td>4</td>
                <td></td>
            </tr>
            <tr>
                <td>Literatūra I</td>
                <td>3</td>
                <td>3</td>
                <td></td>
            </tr>
            <tr id="rez20">
                <td>Kultūra un māksla I (vizuālā māksla vai mūzika)</td>
                <td></td>
                <td>2</td>
                <td>1</td>
            </tr>
            <tr id="rez13">
                <td>Fizika I</td>
                <td>4</td>
                <td>3</td>
                <td></td>
            </tr>
            <tr id="rez14">
                <td>Ķīmija I</td>
                <td>3</td>
                <td>3</td>
                <td></td>
            </tr>
            <tr id="rez15">
                <td>Bioloģija I</td>
                <td>1</td>
                <td>2</td>
                <td></td>
            </tr>
            <tr id="rez16">
                <td>Ģeogrāfija I</td>
                <td>2</td>
                <td>1</td>
                <td></td>
            </tr>
            <tr>
                <td>Matemātika I</td>
                <td>5</td>
                <td>7</td>
                <td>3 vai 0</td>
            </tr>
            <tr id="rez22">
                <td>Dizains un tehnoloģijas I</td>
                <td></td>
                <td>2</td>
                <td>4</td>
            </tr>
            <tr id="rez23">
                <td>Programmēšana I</td>
                <td></td>
                <td>2</td>
                <td>4</td>
            </tr>
            <tr class="font-weight-bolder">
                <td>Augstākā līmeņa padziļinātie kursi</td>
            </tr>
            <tr id="rez27">
                <td>Latviešu valoda un literatūra II</td>
                <td></td>
                <td></td>
                <td>6</td>
            </tr>
            <tr id="rez26">
                <td>Angļu valoda II (C1)</td>
                <td></td>
                <td></td>
                <td>6</td>
            </tr>
            <tr id="rez28">
                <td>Sociālās zinātnes II</td>
                <td></td>
                <td></td>
                <td>6</td>
            </tr>
            <tr id="rez30">
                <td>Fizika II</td>
                <td></td>
                <td></td>
                <td>6</td>
            </tr>
            <tr id="rez31">
                <td>Ķīmija II</td>
                <td></td>
                <td></td>
                <td>6</td>
            </tr>
            <tr id="rez32">
                <td>Bioloģija II</td>
                <td></td>
                <td></td>
                <td>6</td>
            </tr>
            <tr id="rez25">
                <td>Matemātika II</td>
                <td></td>
                <td></td>
                <td>8</td>
            </tr>
            <tr id="rez29">
                <td>Programmēšana II</td>
                <td></td>
                <td></td>
                <td>6</td>
            </tr>
            <tr>
                <td>Projekta darbs</td>
                <td></td>
                <td></td>
                <td>2</td>
            </tr>
            <tr class="font-weight-bolder">
                <td>Specializētie kursi</td>
            </tr>
            <tr id="rez18">
                <td>Eiropas kultūras telpa</td>
                <td>2</td>
                <td></td>
                <td></td>
            </tr>
            <tr id="rezspec38">
                <td>Papildu angļu valoda</td>
                <td></td>
                <td></td>
                <td>2</td>
            </tr>
            <tr id="rezspec35">
                <td>Angļu literatūra</td>
                <td></td>
                <td>2</td>
                <td>2</td>
            </tr>
            <tr id="rezspec41">
                <td>Krievu valoda</td>
                <td>4 vai</td>
                <td>4 vai</td>
                <td>4</td>
            </tr>
            <tr id="rezspec36">
                <td>Filozofijas pamati</td>
                <td></td>
                <td></td>
                <td>2</td>
            </tr>
            <tr id="rezspec39">
                <td>Psiholoģijas pamati</td>
                <td></td>
                <td></td>
                <td>2</td>
            </tr>
            <tr id="rezspec34">
                <td>Debates</td>
                <td>2 vai</td>
                <td>2 vai</td>
                <td>2</td>
            </tr>
            <tr id="rezspec37">
                <td>Publiskā uzstāšanās</td>
                <td>2 vai</td>
                <td>2 vai</td>
                <td>2</td>
            </tr>
            <tr id="rezspec40">
                <td>Robotika</td>
                <td>2 vai</td>
                <td>2 vai</td>
                <td>2</td>
            </tr>
        </table>
    </div>
    <div>
        <h4>Pašlaik izvēlēto kursu stundu skaits nedēļā:</h4>
        <p>10. klasē: {{klase10}} stundas. Līdz <span style="color: red;">?datums?</span> vēl iespējams izvēlēties speckursus {{36-klase10}} stundu apjomā 10. klasei.</p>
        <p>11. klasē: {{klase11}} stundas.</p>
        <p>12. klasē: {{klase12}} stundas.</p>
    </div>
    <script type="text/javascript">
        palaist({{masivs|tojson}})
    </script>
    <button onclick="iesniegt()">Iesniegt manu izvēli!</button>
</body>