<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="./RAG_logo.png" type="image/x-icon">
    <title>
      Izvēles rezultāti
    </title>
 <!--   <link rel="stylesheet" href="./smukumi.css"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="./tests4.js"></script>
  </head>
  <body class="bg-light">
    <div class="container">
      <div class="row  bg-light">
        <div class="col-1">
          <a href="https://www.rag.lv/"><img src=./RAG_logo.png class="rounded float-left mr-3"></a>
        </div>
        <div class="col-11 ">
          <h1 class="text-center text-md-wrap">Rīgas Angļu ģimnāzijas vidusskolas kursu piedāvājuma izvēles rezultāti</h1>
        </div>
      </div>
    </div>
    <div id="meklētājs">
        <!--Meklēšanas vieta-->
        <form method="POST">
            <h3>Meklētājs:   </h3>
            <input type="text" name="teksts">
            <input type="radio" name="izvele" value="1" checked>
            <label for="1">Numurs   </label>
            <input type="radio" name="izvele" value="2">
            <label for="2">Uzvārds</label>
            <input type="submit" value="Meklēt">
        </form>
    </div>
          <!-- rezultātu vieta -->
      <div id="rezultati">
        {%for linija in linijas %}
        <p>
          {% for vards in linija %}
            {% if linija[vards] == None %}
              <b>Tukšs</b>
            {% else %}
              {{linija[vards]}}
            {% endif %}
          {% endfor %}
        </p>
        {% endfor %}

      </div>  


  </body>
</html>